# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore model files
*.h5

# Ignore project directories
data/
models/
docs/
output_images/
uselesscodes/
app/
data_split/
